<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{climber.fullName}} {{climber.instagram}}</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Age</dt>
      <dd>{{climber.age}}</dd>
      <dt>Location</dt>
      <dd>{{climber.city}}, {{climber.state}}</dd>
      <dt>Years climbing</dt>
      <dd>{{climber.yearsclimbing}}</dd>
      <dt>Home Gym/Crag</dt>
      <dd>{{climber.homegym}}/{{climber.homecrag}}</dd>
      <dt>Record</dt>
      <dd>{{climber.comprecord}}</dd>
      <dt>Interests</dt>
      <dd>{{climber.interests}}</dd>
      <dt>Sponsors</dt>
      <dd>{{climber.sponsors}}</dd>
    </dl>
  </div>
</div>
